<!DOCTYPE html>
<html>
	<head>
		<title>twitter strem</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
		<script type="text/javascript" src="/app/lib/moment.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/fr.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.1/angular-moment.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="/app/style.css">
	</head>
	<body ng-app="twitStream">
		<div class="container" ng-controller="twitCtrl">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h3>Twitter Stream #Javascript</h3>
					<!-- {{test}} -->
					<div  ng-if='load'><i class=" loader fa fa-spinner fa-spin fa-3x fa-fw"></i>
						<span class="sr-only">Loading...</span>
					</div>
					<ul class="list-group">
						<li class="list-group-item twitItem" ng-repeat="n in twitListe | orderBy: '-created_at'">
							<img ng-src="{{n.user.profile_background_image_url}}" class="avatar" ng-if="n.user.profile_background_image_url">
							<span class="twitContent">
								<a target="_blank" ng-href="https://twitter.com/{{n.user.screen_name}}">@{{n.user.name}}:</a><br>
								{{n.text}}
							</span>
							<span class="twitDate">{{n.created_at | sinceFilter}}</span>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/app/js/app.js"></script>
		<script type="text/javascript">
							var socket = io.connect('http://localhost:3000');
							socket.on("monsocket",function(socket){
							console.log(socket);
							});							
		</script>
	
			<center>
			<br>
			<br>
			<br>
			<form action="https://api.particle.io/v1/devices/24001d001847343438323536/led?access_token=7fd2fb8463aec960c3dfd3db6fac5a078f942be9" method="POST">
			  Tell your device what to do!<br>
			  <br>
			  <input type="radio" name="arg" value="on">Turn the LED on.
			  <br>
			  <input type="radio" name="arg" value="off">Turn the LED off.
			  <br>
			  <br>
			  <input type="submit" value="Do it!">
			</form>
			</center>
	</body>
</html>