.twitItem{
	display: flex;
	 justify-content: flex-start;
}
.avatar{
	height: 50px;
	width:50px;
}
.twitContent{
	margin-left: 10px;
	width:80%;
}
.twitDate{
	align-self:  flex-end ;
	font-size: 0.7em;
	padding-left: 10px;
}
.loader{
	margin-left: auto;
	margin-right: auto;
	display: block;
}